body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #fdefe6;
scroll-behavior: smooth;
}

#hero {
height: 100vh;
background-image: url('https://i.ibb.co/1fmS3sx0/BRUNO-MARS-1.jpg');
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
text-align: center;
}

.hero-text {
font-size: 4em;
font-weight: bold;
text-shadow: 2px 2px black;
}

.hero-subtext {
font-size: 1.5em;
text-shadow: 1px 1px black;
margin-top: 20px;
}

.panel {
width: 80%;
max-width: 1000px;
background-color: #ffd1b3;
margin: 50px auto;
padding: 40px;
border-radius: 20px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
text-align: center;
}

.grid {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
margin-top: 20px;
}

.album {
width: 220px;
text-align: center;
}

.album img {
width: 100%;
border-radius: 15px;
}

#footer {
text-align: center;
padding: 50px;
}

#footer a {
text-decoration: none;
color: #FFB25C;
font-weight: bold;
font-size: 1.2em;
}

#footer a:hover {
color: #ff99aa;
}

h1 {
font-family: 'Bebas Neue', cursive;
  color: #8b4e3c;
font-size: 2.5em;
margin-bottom: 20px;
}

p {
font-size: 1em;
color: #5c3d2e ;
line-height: 1.5em;
}